.main{
    background-color: black;
    height: 690px;
}
.main-table input:hover{
    border-bottom: 2px solid #6466cc;
}
.main-table .btn-one {
    border-radius: 5px;
    width: 80px;
    border: 1px solid white;
    outline: none;
    width: 100px;
    color: white;
    transition: all 0.2s;
    background-color:transparent;
}
.main-table .btn-one:hover{
    box-shadow:-1px 0px 3px 4px #6466cc;
}
.main-table input{
	background-color:transparent;
	border:none;
    color: white;
    outline: none;
	border-bottom:2px solid white;
    /* border: none; */
}
#dis tr td ,#role tr td{
    margin: 20px;
}
#dis tr, #role tr td{
    color: white;
}
.main-table td label{
    color: white;
}
.main-table .sub-tble td{
    padding: 20px 0px;
}